
/*
colors:

red: #b30561;

light-blue; #10a9bf;  rgba(16, 169, 191, 1)
blue: #1b0c57;
dark-blue: #0d022c;

purple: #470175;

live-red:  #ff0f0f;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.mb-12 {
  margin-bottom: 12px;
}

.section-100 {
  width: 100%;
  height: 100vh;
}

.section-min-100 {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 100px;
  position: relative;
}

.container-hero {
  width: 100%;
  height: 100vh;
  padding: 100px;
  position: relative;
  overflow: hidden;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  background-color: #b30561;
  border-radius: 4px;
  transition: all .3s;
}

.btn:hover {
  background-color: #10a9bf;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.2s;
}

.header.sticky {
  background-color: #0d022c;
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.2);
}

.logo {
  color: #fff;
}

.header-container {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  width: 40px;
  height: 40px;
  background: url("../img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle.active {
  background: url("../img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}
/* header END */

/* sidemenu */
.sidemenu {
  position: fixed;
  min-height: 100vh;
  width: 30%;
  top: 0;
  right: -100%;
  background-color: #0d022c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.3s;
}

.sidemenu.active {
  right: 0;
  box-shadow: 0 5px 20px rgba(16, 169, 191, 0.5);
}

.sidemenu ul li {
  margin-bottom: 18px;
  padding: 10px 20px;
  border: 1px solid #0d022c;
  transition: 0.5s;
}

.sidemenu ul li a {
  color: #10a9bf;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.5s;
}

.sidemenu ul li:hover {
  border: 1px solid #10a9bf;
  background-color: #10a9bf;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.sidemenu ul li:hover a {
  color: #d1d1d1;
}
/* sidemenu END */

/* hero section */
.hero-container {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}

.hero-container h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
}

.hero-container h1 {
  color: #fff;
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-container h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.hero-links-container {
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
  padding: 30px 0px;
  z-index: 990:
}

.hero-links-img {
  width: 300px;
  height: auto;
  transition: 0.5s;
}

.hero-links-img:hover {
  transform: scale(1.1);
}

.hero-links-img img {
  height: 100%;
  width: 100%;
}

.count-down-timer {
  width: 100%;
  background-color: #1b0c57;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px -5px 0px #b30561, 5px 5px 0px #10a9bf;
  margin-bottom: 30px;
  margin-top: 10px;
}

.count-down-timer h5 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

.clock {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clock.not-visible {
  display: none;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.time small {
  color: #fff;
}

.live-info {
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #ff0f0f;
  font-weight: 800;
  margin-bottom: 24px;
  display: none;
}

.live-info.live {
  display: block;
}

.orc {
  position: absolute;
  right: 30%;
  transform: translateX(30%);
  bottom: -120px;
  width: 600px;
  z-index: 800;
  transition: 0.1s;

  animation: 3s breathing infinite;
}

.orc img {
  width: 100%;
  height: 100%;
}
/* hero section END */

/* schedule section */
.schedule-section {
  background-color: #0d022c;
}

.container h2 {
  color: #fff;
  font-size: 24px;
}

.section-title h2 {
  font-size: 38px;
  font-weight: 700;
}

.rotated-subtitle {
  color: #B30561;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;

  position: absolute;
  transform: rotate(270deg);
  left: 50px;
  top: 250px;
}

.next-stream-announcement {
  margin-bottom: 42px;
  text-align: center;
}

.next-stream-announcement h4 {
  color: #b30561;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 24px;
}

.next-stream-timeplace {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.next-stream-timeplace h4 {
  color: #b30561;
  font-size: 32px;
  font-weight: 500;
}

.stream-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.stream-link,
.stream-link a {
  color: #fff;
  transition: 0.5s;
}

.stream-link:hover {
  color: #10a9bf;
  transform: translateY(-6px);
}

/* schedule section END */

/* nextgen section */
.nextgen-section {
  background-color: #1b0c57;
}

.nextgen-services-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.nextgen-service-box {
  max-width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: -5px -5px 0px #b30561, 5px 5px 0px #10a9bf;
  overflow: hidden;
  transition: 0.5s;
}

.nextgen-service-box:hover {
  box-shadow: -10px -10px 0px #b30561, 10px 10px 0px #10a9bf;
}

.nextgen-service-box-img {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  background-color: grey;
  transition: 0.5s;
}

.img-1 {
  background-image: url("../img/card1.jpg");
  background-position: center;
  background-size: cover;
}

.img-2 {
  background-image: url("../img/card2.jpg");
  background-position: center;
  background-size: cover;
}

.img-3 {
  background-image: url("../img/card3.jpg");
  background-position: center;
  background-size: cover;
}

.nextgen-service-box:hover .nextgen-service-box-img {
  transform: translateY(-6px);
}

.nextgen-service-box-text {
  padding: 32px 24px 16px;
}

.nextgen-service-box-text h4 {
  color: #B30561;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 12px;
}

.nextgen-service-box-text p {
  font-weight: 500;
}
/* nextgen section END */

/* monster section */
.monster-section {
  background-color: #0d022c;
}

.monster-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 240px;
}

.monster-drink-box {
  width: 50%;
  height: 300px;
  padding: 24px;
}

.monster-can-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: -3px -3px 0px #b30561, 3px 5px 0px #10a9bf;
  height: 400px;
  transition: 0.5s;
}

.monster-can-left {
  width: 50%;
  height: 100%;
  background-color: #1b0c57;
  border-radius: 20px 0px 0px 20px;
  position: relative;
}

.monster-can {
  position: absolute;
  bottom: 5%;
  left: 20%;
  max-width: 200px;
  height: auto;
  transition: 0.5s;
  z-index: 100;
}

.monster-can img {
  width: 100%;
  height: 100%;
}

.burst-container {
  position: absolute;
  bottom: -30%;
  left: -30%;
  width: 500px;
  height: auto;
  transition: 0.5s;
  z-index: 99;
  transform: scale(0);
}

.burst-container img {
  width: 100%;
  height: 100%;
}

.monster-can-box:hover {
  box-shadow: -10px -10px 10px #b30561, 10px 10px 10px #10a9bf;
}

.monster-can-box:hover .monster-can {
  transform: scale(1.1) rotate(15deg);
}

.monster-can-box:hover .burst-container {
  transform: scale(1);
}

.monster-can-right {
  width: 50%;
  height: 100%;
  background-color: #1b0c57;
  border-radius: 0px 20px 20px 0px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.monster-can-right h4 {
  color: #10a9bf;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.monster-can-right p {
  color: #fff;
  margin-bottom: 6px;
  text-align: center;
}
/* monster section END */

/* parallax */
.para-container {
  height: 80vh;
  width: 100%;
}

.para-background {
  height: 100%;
  width: 100%;
  background-image: url("../img/backgroundParallax.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.para-title {
  width: 50%;
  height: auto;
}

.para-title img {
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}

a.para-title h2 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 10px;
  color: #000;
}
/* parallax END */

/* follow section */
.follow-section {
  background-color: #1b0c57;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b0c57;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  margin-bottom: 60px;
  transition: 0.5s;
}

.row-1 {
  box-shadow: -5px -5px 0px #b30561, 5px 5px 0px #10a9bf;
}

.row-1:hover {
  background-color: #470175;
  box-shadow: -10px -10px 0px #b30561, 10px 10px 0px #10a9bf;
}

.row-2 {
  box-shadow: -5px -5px 0px #fff, 5px 5px 0px #b30561;
}

.row-2:hover {
  background-color: #470175;
  box-shadow: -10px -10px 0px #fff, 10px 10px 0px #b30561;
}

.row-3 {
  box-shadow: -5px -5px 0px #10a9bf, 5px 5px 0px #fff;
  justify-content: space-around;
}

.row-3:hover {
  background-color: #470175;
  box-shadow: -10px -10px 0px #10a9bf, 10px 10px 0px #fff;
}

.row-3:hover .follow-title {
  transform: scale(1.1);
}

.profile,
.icons {
  width: 50%;
  padding: 30px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-title {
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
}

.profile-img {
  max-width: 500px;
  height: auto;
  transition: 0.5s;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.row:hover .profile-img {
  transform: scale(1.1);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons h5 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 24px;
}

.icons p {
  color: #fff;
  text-align: center;
}

.icons ul li {
  display: inline-block;
  margin: 24px;
}

.icons a i {
  color: #fff;
  font-size: 36px;
  transition: 0.5s;
}

.icons ul li:hover a i {
  color: #10a9bf;
  transform: translateY(-6px);
}
/* follow section END */

/* footer */
footer {
  background-color: #0d022c;
}

.footer-container {
  width: 100%;
  padding: 100px 100px 20px;
  position: relative;
}

.footer-row-1 {
  width: 100%;
  position: relative;
}

.footer-box-outer {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 10px;
  height: 300px;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px 10px 30px 10px;
  box-shadow: 10px 20px 25px rgba(0,0,0,0.7);
  border: none;
  overflow: hidden;
}

.footer-box-outer-part-1,
.footer-box-outer-part-2 {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-box-outer-part-1 {
  width: 66%;
  height: 100%;
}

.footer-box-outer-part-1 h4 {
  color: #b30561;
  margin-bottom: 12px;
  font-size: 38px;
  font-weight: 700;
}

.footer-box-outer-part-1 ul {
  margin-bottom: 12px;
}

.footer-box-outer-part-1 ul li {
  font-size: 18px;
}

.footer-box-outer-part-1 h5 {
  color: #b30561;
  font-size: 24px;
  text-align: center;
}

.footer-box-outer-part-2 {
  color: #fff;
}

.footer-box-outer-part-2 i {
  font-size: 72px;
  margin-bottom: 30px;
}

.footer-box-outer-part-2 h5 {
  font-size: 30px;
  text-align: center;
}

.footer-box-outer-part-2 {
  width: 34%;
  height: 100%;
  background-color: #1b0c57;
}

.footer-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.footer-box-1 a h4,
.footer-box-2 h4 {
  position: relative;
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.footer-box-1 p {
  color: #fff;
}

.footer-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0px;
}

.footer-box-1,
.footer-box-2 {
  width: 50%;
  padding: 30px;
}

.footer-box-1 a h4::after,
.footer-box-2 h4::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 80%;
  height: 3px;
  background-color: #b30561;
}

.footer-row-3 p {
  color: #fff;
  text-align: center;
}

.footer-box-2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.footer-box-2-half ul li {
  margin-bottom: 6px;
}

.footer-box-2-half ul li a {
  color: #fff;
  transition: 0.5s;
}

.footer-box-2-half ul li:hover a {
  color: #10a9bf;
}
/* footer END */

/* animations */
@keyframes breathing {

  0% {
    bottom: -120px;
  }
  50% {
    bottom: -126px;
  }
  100% {
    bottom: -120px;
  }
}

@keyframe breathing2 {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: -206px;
  }
  100% {
    bottom: -200px;
  }
}

@keyframe breathing3 {
  0% {
    bottom: -240px;
  }
  50% {
    bottom: -246px;
  }
  100% {
    bottom: -240px;
  }
}

/* media queries */
@media (max-width:1600px){
  .orc {
    right: 20%;
  }
}

@media (max-width:1500px){
  .container {
    padding: 100px 50px;
  }

  .rotated-subtitle {
    left: 10px;
  }
}

@media (max-width: 1400px){

  .orc {
    right: 10%;
  }

  .nextgen-service-box {
    max-width: initial;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 42px;
    height: 500px;
    max-width: 300px;
  }
}

@media (max-width: 1200px){

  .count-down-timer h5 {
    margin-bottom: 12px;
  }

  .hero-container h2 {
    font-size: 40px;
  }

  .hero-container h1 {
    font-size: 30px;
  }

  .header-container {
    padding: 20px 50px;
  }

  .container-hero {
    padding: 100px 50px;
  }

  .hero-links-container {
    width: 450px;
  }

  .hero-links-img {
    width: 200px;
  }

  .footer-container {
    padding: 100px 50px 20px;
  }

  .footer-box-outer {
    width: 100%;
  }

  .icons h5 {
    text-align: center;
  }

  .icons ul li {
    margin: 18px;
  }
}

@media (max-width:1165px){
  .nextgen-service-box {
    max-width: 250px;
  }
}

@media (max-width:1020px){

  .orc {
    width: 500px;
  }
}

@media (max-width: 991.98px){

  .sidemenu {
    width: 50%;
  }

  .rotated-subtitle {
    left: -20px;
  }

  .container {
    padding: 100px 30px;
  }

  .nextgen-services-container {
    flex-direction: column;
  }

  .nextgen-service-box {
    max-width: initial;
    width: 100%;
  }

  .next-stream-announcement h4 {
    text-align: center;
  }

  .icons h5 {
    text-align: center;
  }

  .next-stream-timeplace h4 {
    text-align: center;
    margin-bottom: 12px;
  }

  .monster-row {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .monster-drink-box {
    width: 100%;
    margin-bottom: 300px;
  }

  .row {
    flex-direction: column;
  }

  .profile {
    width: 100%;
  }

  .profile-img {
    width: initial;
    max-width: 500px;
  }

  .icons {
    width: 100%;
  }

  .footer-row-2 {
    flex-direction: column;
  }

  .footer-box-1,
  .footer-box-2 {
    width: 80%;
  }
}

@media (max-width:880px){
  .orc {
    right: 5%;
  }
}

@media (max-width:768px){

  .header-container {
    padding: 20px 20px;
  }

  .orc {
    width: 400px;
  }

  .sidemenu {
    width: 100%;
  }

  .sidemenu ul li {
    margin-bottom: 10px;
  }

  .sidemenu ul li a {
    font-size: 1.5em;
  }

  .footer-container {
    padding: 100px 20px 20px;
  }

  .footer-box-outer {
    flex-direction: column;
    height: initial;
  }

  .footer-box-outer-part-1 {
    padding: 12px;
  }

  .footer-box-outer-part-1 h4 {
    font-size: 24px;
  }

  .footer-box-outer-part-1 h5 {
    font-size: 18px;
  }

  .footer-box-outer-part-2 {
    width: 100%;
  }
}

@media (max-width:700px){

  .monster-drink-box {
    margin-bottom: 300px;
  }

  .monster-can-box {
    flex-direction: column;
  }

  .monster-can-left,
  .monster-can-right {
    width: 100%;
  }

  .monster-can-left {
    border-radius: 20px 20px 0px 0px;
  }

  .monster-can-right {
    border-radius: 0px 0px 20px 20px;
  }

  .monster-can {
    max-width: 130px;
  }
}

@media (max-width: 575.98px){

  .container-hero {
    padding: 100px 20px;
  }

  .orc {
    right: -60px;
    bottom: -200px;

    animation: 3s breathing2 infinite;
  }

  .title-dissapear {
    display: none;
  }

  .hero-links-container {
    display: none;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .btn {
    padding: 12px 24px;
  }

  .mobile-margin {
    margin-bottom: 12px;
  }

  .section-container {
    padding: 20px 20px 60px;
  }

  .rotated-subtitle {
    left: -40px;
  }

  .monster-row {
    padding: 24px 0px;
  }

  .monster-drink-box {
    padding: 0px;
  }

  .icons {
    padding: 6px;
    padding-bottom: 12px;
  }

  .icons h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .icons ul li {
    margin: 12px;
  }

  .icons a i {
    font-size: 24px;
  }

  .footer-container {
    padding: 100px 10px 20px;
  }

  .footer-box-outer-part-1 h4 {
    font-size: 18px;
  }

  .footer-box-outer-part-2 i {
    font-size: 60px;
    margin-bottom: 24px;
  }

  .footer-box-outer-part-2 h5 {
    font-size: 24px;
    text-align: center;
  }

  .footer-box-2 {
    flex-direction: column;
    align-items: center;
  }

  .footer-box-2-half {
    width: 100%;
    margin-bottom: 24px;
  }
}

@media (max-width:424px){

  .hero-container h2 {
    font-size: 32px;
  }

  .orc {
    right: -80px;
    bottom: -240px;

    animation: 3s breathing3 infinite;
  }

  .time {
    padding: 10px;
  }

  .follow-title {
    font-size: 1.4em;
  }
}

@media (max-width:325px){
  .hero-container h2 {
    font-size: 24px;
  }

  .hero-container h1 {
    font-size: 18px;
  }

  .follow-title {
    font-size: 1.2em;
  }

  .next-stream-announcement a {
    font-size: 14px;
  }

}
