
/*
colors:

red: #b30561;

light-blue; #10a9bf;  rgba(16, 169, 191, 1)
blue: #1b0c57;
dark-blue: #0d022c;

purple: #470175;

live-red:  #ff0f0f;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-100 {
  width: 100%;
  height: 100vh;
}

.section-min-100 {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 100px;
  position: relative;
}

.container-hero {
  width: 100%;
  height: 100vh;
  padding: 100px;
  position: relative;
  overflow: hidden;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  background-color: #b30561;
  border-radius: 4px;
  transition: all .3s;
}

.btn:hover {
  background-color: #10a9bf;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.5s;
}

.header.sticky {
  background-color: #0d022c;
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.2);
}

.logo {
  color: #fff;
}

.header-container {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  width: 40px;
  height: 40px;
  background: url("../img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle.active {
  background: url("../img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}
/* header END */

/* sidemenu */
.sidemenu {
  position: fixed;
  min-height: 100vh;
  width: 30%;
  top: 0;
  right: -100%;
  background-color: #0d022c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.8s;
  box-shadow: 0 5px 20px rgba(16, 169, 191, 0.5);
}

.sidemenu.active {
  right: 0;
}

.sidemenu ul li {
  margin-bottom: 18px;
  padding: 10px 20px;
  border: 1px solid #0d022c;
  transition: 0.5s;
}

.sidemenu ul li a {
  color: #10a9bf;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.5s;
}

.sidemenu ul li:hover {
  border: 1px solid #10a9bf;
  background-color: #10a9bf;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.sidemenu ul li:hover a {
  color: #d1d1d1;
}
/* sidemenu END */

/* hero section */
.hero-container {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}

.hero-container h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
}

.hero-container h1 {
  color: #fff;
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-container h4 {
  color: #fff;
  font-size: 24px;
}

.hero-links-container {
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
  padding: 30px 0px;
}

.hero-links-img {
  width: 300px;
  height: auto;
  transition: 0.5s;
}

.hero-links-img:hover {
  transform: scale(1.1);
}

.hero-links-img img {
  height: 100%;
  width: 100%;
}

.count-down-timer {
  width: 100%;
  background-color: #1b0c57;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px -5px 0px #b30561, 5px 5px 0px #10a9bf;
  margin-bottom: 30px;
  margin-top: 10px;
}

.count-down-timer h5 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

.clock {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clock.not-visible {
  display: none;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.time small {
  color: #fff;
}

.live-info {
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #ff0f0f;
  font-weight: 800;
  margin-bottom: 24px;
  display: none;
}

.live-info.live {
  display: block;
}

.orc {
  position: absolute;
  right: 30%;
  transform: translateX(30%);
  bottom: -120px;
  width: 600px;
  z-index: 900
}

.orc img {
  width: 100%;
  height: 100%;
}
/* hero section END */

/* schedule section */
.schedule-section {
  background-color: #0d022c;
}

.container h2 {
  color: #fff;
  font-size: 24px;
}

.section-title h2 {
  font-size: 38px;
  font-weight: 700;
}

.rotated-subtitle {
  color: #B30561;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;

  position: absolute;
  transform: rotate(270deg);
  left: 50px;
  top: 250px;
}
/* schedule section END */

/* nextgen section */
.nextgen-section {
  background-color: #1b0c57;
}
/* nextgen section END */

/* monster section */
.monster-section {
  background-color: #0d022c;
}
/* monster section END */

/* follow section */
.follow-section {
  background-color: #1b0c57;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d022c;
  border-radius: 10px;
  padding: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b0c57;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  margin-bottom: 60px;
  transition: 0.5s;
}

.row:hover {
  background-color: #470175;
}

.profile,
.icons {
  width: 50%;
  padding: 30px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 500px;
  height: auto;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons h5 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 24px;
}

.icons p {
  color: #fff;
}

.icons ul li {
  display: inline-block;
  margin: 24px;
}

.icons a i {
  color: #fff;
  font-size: 36px;
  transition: 0.5s;
}

.icons ul li:hover a i {
  color: #10a9bf;
  transform: translateY(-6px);
}
/* follow section END */

/* footer */
footer {
  background-color: #0d022c;
}

.footer-container {
  width: 100%;
  padding: 100px 100px 20px;
  position: relative;
}

.footer-row-1 {
  width: 100%;
  position: relative;
}

.footer-box-outer {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 10px;
  height: 300px;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px 10px 30px 10px;
  box-shadow: 10px 20px 25px rgba(0,0,0,0.7);
  border: none;
  overflow: hidden;
}

.footer-box-outer-part-1,
.footer-box-outer-part-2 {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-box-outer-part-1 {
  width: 66%;
  height: 100%;
}

.footer-box-outer-part-1 h4 {
  color: #b30561;
  margin-bottom: 12px;
  font-size: 38px;
  font-weight: 700;
}

.footer-box-outer-part-1 ul {
  margin-bottom: 12px;
}

.footer-box-outer-part-1 ul li {
  font-size: 18px;
}

.footer-box-outer-part-1 h5 {
  color: #b30561;
  font-size: 24px;
}

.footer-box-outer-part-2 {
  color: #fff;
}

.footer-box-outer-part-2 i {
  font-size: 72px;
  margin-bottom: 30px;
}

.footer-box-outer-part-2 h5 {
  font-size: 30px;
}

.footer-box-outer-part-2 {
  width: 34%;
  height: 100%;
  background-color: #1b0c57;
}

.footer-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.footer-box-1 a h4,
.footer-box-2 h4 {
  position: relative;
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.footer-box-1 p {
  color: #fff;
}

.footer-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0px;
}

.footer-box-1,
.footer-box-2 {
  width: 50%;
  padding: 30px;
}

.footer-box-1 a h4::after,
.footer-box-2 h4::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 80%;
  height: 3px;
  background-color: #b30561;
}

.footer-row-3 p {
  color: #fff;
  text-align: center;
}

.footer-box-2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.footer-box-2-half ul li {
  margin-bottom: 6px;
}

.footer-box-2-half ul li a {
  color: #fff;
  transition: 0.5s;
}

.footer-box-2-half ul li:hover a {
  color: #10a9bf;
}
/* footer END */
