@font-face {
   font-family: 'Montserrat' ;
   src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}


/*
colors:

red: #b30561;

light-blue; #10a9bf;  rgba(16, 169, 191, 1)
blue: #1b0c57;
dark-blue: #0d022c;

purple: #470175;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-100 {
  width: 100%;
  height: 100vh;
}

.section-min-100 {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 100px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  background-color: #b30561;
  border-radius: 4px;
  transition: all .3s;
}

.btn:hover {
  background-color: #10a9bf;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header.active {
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.2);
}

.header-container {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  width: 40px;
  height: 40px;
  background: url("../img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle.active {
  background: url("../img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}
/* header END */

/* sidemenu */
.sidemenu {
  position: fixed;
  min-height: 100vh;
  width: 30%;
  top: 0;
  right: -100%;
  background-color: #0d022c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.8s;
  box-shadow: 0 5px 20px rgba(16, 169, 191, 0.5);
}

.sidemenu.active {
  right: 0;
}

.sidemenu ul li {
  margin-bottom: 18px;
  padding: 10px 20px;
  border: 1px solid #0d022c;
  transition: 0.5s;
}

.sidemenu ul li a {
  color: #10a9bf;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.5s;
}

.sidemenu ul li:hover {
  border: 1px solid #10a9bf;
  background-color: #10a9bf;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.sidemenu ul li:hover a {
  color: #d1d1d1;
}
/* sidemenu END */

/* hero section */
.hero-container {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}

.hero-container h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.hero-container h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
}

.count-down-timer {
  width: 100%;
  height: 100px;
  background-color: #1b0c57;
  border-radius: 10px;
}

.orc {
  position: absolute;
  right: 30%;
  transform: translateX(30%);
  bottom: -120px;
  width: 600px;
  z-index: 900
}

.orc img {
  width: 100%;
  height: 100%;
}
/* hero section END */

/* schedule section */
.schedule-section {
  background-color: #0d022c;
}
/* schedule section END */

/* nextgen section */
.nextgen-section {
  background-color: #1b0c57;
}
/* nextgen section END */

/* monster section */
.monster-section {
  background-color: #0d022c;
}
/* monster section END */

/* follow section */
.follow-section {
  background-color: #1b0c57;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d022c;
  border-radius: 10px;
  height: 100%;
  padding: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b0c57;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  margin-bottom: 60px;
  transition: 0.5s;
}

.row:hover {
  background-color: #470175;
}

.profile,
.icons {
  width: 50%;
  padding: 30px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 500px;
  height: auto;
}

.profile-img img {
  width: 100%;
  height: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons h5 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 24px;
}

.icons ul li {
  display: inline-block;
  margin: 24px;
}

.icons a i {
  color: #fff;
  font-size: 36px;
  transition: 0.5s;
}

.icons ul li:hover a i {
  color: #10a9bf;
  transform: translateY(-6px);
}
/* follow section END */

/* footer */
footer {
  background-color: #0d022c;
}
/* footer END */
